<!DOCTYPE html>
<html lang="en" data-bs-theme="dark"><head>

  <head>
      
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница учителя</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="”icon”" href="”/home/anyka/.cache/.fr-lhC1NB/favicon-32x32.png”" type="”image/x-icon”">
    <style>
      .mb-3{
        font-family: 'Bradley Hand';
      }
      /* body { 
      background-image: url('background.png');
      background-size:100%;
      /* } */
      .h6{
         margin-top: 10px;
      }
      .button{
        margin-top: 10px;
        display:inline-block;
      }
      


    </style>

    
    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='styles/reg.css')}}" rel="stylesheet">
  </head>
  <body class="d-flex align-items-center py-4 bg-body-tertiary">
    
    
<main class="form-signin w-100 m-auto">
  <form method="POST">
    <img class="mb-4" src="{{url_for('static', filename='icon.png')}}" width="90" height="90">
    <h1 class="mb-3">Здравствуйте, {{name}}!</h1>
    {% if ans|length == 0 %}
      <h1>У вас нет класов</h1>
    {% else %}
      {% for i in ans %}
      <a class="btn btn-primary w-100 py-2" type="submit" style ='margin-top: 10px; display:inline-block;' href="/classes/{{i[1]}}">{{i[0]}}</a>
      {% endfor %}
    {% endif %}
  </form>
</main>
<script src="{{url_for('static', filename= 'bootstrap.bundle.min.js')}}" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    

</body></html>