<!DOCTYPE html>
<html><head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Страница инструкции</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>What?</title>


    <style>
      
a.button7 {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background:#0B61A4;
  box-shadow: 0 -3px #25567B;
  transition: 0.2s;
} 
a.button7:hover { background: #25567B; }
a.button7:active {
  background: #033E6B;
  box-shadow: 0 3px #033E6B;
}
h1{
        font-family: 'Bradley Hand';
      }
    </style>

    
  </head>
  <body>


    
<main class="container">
  <div class="bg-body-tertiary p-5 rounded mt-3">
    <h1>Что это такое и зачем?</h1>
    <p class="lead" >Созданный сайт предназначен для школы и предоставляет учителям возможность выставлять оценки и задания, а ученикам — просматривать их. Это позволяет учителям эффективно управлять учебным процессом, а ученикам — быть в курсе своих оценок и заданий.</p>
    <p class="lead">Учителя имеют возможность создавать классы по определённому классу и предмету, и с помощью сгенерированных ссылок и паролей добавлять туда учеников.</p>
    <p class="lead" style="margin-bottom: 50px;">Ученики, в свою очередь,  видят проставленные оценки и домашние задания.</p>
    <a class="button7" href="http://example.com" target="_blank">Понятно</a>
  </div>
</main>

    

</body></html>